<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Progress</th>
                <th scope="col">Story Point</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskList; let i=index;">
                <td scope="row">{{i}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.status}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.progress}}</td>
                <td>{{task.story_Point}}</td>
                <td>{{task.start_Date}}</td>
                <td>{{task.end_Date}}</td>
            </tr>
            </tbody>
          </table>
    </div>
</div>