
img {
  width: 500px;

  /* // Shift the image to ignore the default margin of the dialog. We want to */
  /* // show the talk image as a full-width dialog header. */
  margin: 24px 500px 0px;
  padding-bottom: 8px;
}

.mat-form-field {
  display: block;
}

.mat-button {
  text-transform: uppercase;
}
